body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: black !important;
    min-height: 100vh !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.xxl{
  font-size: 120px;
}

#root{
  height: 100%;
}
.App{
  height: 100%;
  
}
.gradient-bg{
  background: rgb(161,147,165);
  background: linear-gradient(22deg, rgba(161,147,165,1) 0%, rgba(217,90,33,1) 100%);
}